@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/magnific-popup/dist/magnific-popup";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../css/fonts.css";
@import "../css/icons.css";

$font_title : 'Cabin';
$font_sub   : 'Noto Sans KR';
$size_title : 20px;
$size_sub   : 30px;
$color_text : #1B1B1B;
$color_title: #66360C;

body {
    font-family: $font_sub;
    transition : 0.5s;

}

/* навигация */
.navigation {
    display: block;
    padding: 10px;

    .navbar-brand {
        color      : #66360C;
        font-family: $font_title;
        font-size  : 30px;
    }

    .navbar-toggler {
        color: #66360C;

        span {
            padding-top: 6px;
        }
    }
}

.navbar-nav {
    .nav-link {
        color: $color_text;

        &:hover {
            font-size    : 15px;
            border-bottom: 2px solid $color_title;
        }
    }

    .form-control {
        border: 1px solid $color_text;
    }

    button {
        padding  : 0;
        color    : $color_text;
        font-size: 20px;
        border   : none;


        &:hover {
            border-bottom: 2px solid $color_title;
        }

        &:active {
            border-bottom: 2px solid #008A7B;
        }
    }

}

/* контайнер хедер */
.container_heder {
    background-image   : url(../img/bg_header.jpg);
    background-position: center center;
    background-size    : cover;
    background-repeat  : no-repeat;

    .container_heder_text {
        text-align : center;
        padding-top: 150px;

        h1 {
            font-family: $font_title;
            color      : #ffffff;
            font-weight: bold;
            font-size  : 50px;

        }

        h2 {
            font-family: $font_sub;
            color      : #ffffff;
        }

        button {
            width           : 220px;
            height          : 70px;
            border          : 3px solid #ffffff;
            background-image: none;
            background      : transparent;
            background-color: transparent;
            margin          : 50px 30px;
            font-family     : $font_title;
            font-weight     : bold;
            font-size       : 20px;
            color           : #ffffff;

            &:hover {
                background: #008A7B;
            }

            &:active {
                color : $color_text;
                border: 3px solid $color_text;
            }
        }

        i {
            cursor       : pointer;
            display      : block;
            margin-top   : 100px;
            margin-bottom: 50px;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

/* контейнер about_us */
.about_us {
    text-align    : center;
    padding-bottom: 50px;
    border-bottom : 2px solid $color_text;


    .about_us_text {
        padding-top: 120px;

        h2 {
            font-family: $font_title;
            font-weight: bold;
            font-size  : 40px;
        }

        h3 {
            font-size: 20px;
        }

        .about_us_card {
            padding-top    : 70px;
            display        : flex;
            justify-content: center;

            h2 {
                font-size: 25px;
            }

            i {
                font-size: 50px;
            }
        }

    }

}

/* контейнер our_services */
.our_services {
    text-align: center;
    transition: 0.5s;

    .our_services_items {
        padding-top   : 160px;
        padding-bottom: 100px;


        h2 {
            font-family: $font_title;
            font-weight: bold;
            font-size  : 40px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

.our_services_block {
    display        : flex;
    justify-content: center;


    .our_services_card {
        border        : 1px solid $color_text;
        margin        : 30px;
        padding-bottom: 30px;
        padding-top   : 30px;
        background    : #ffffff;
        box-shadow    : 0px 0px 24px 11px $color_text;

        &:hover {
            background: #008A7B;
            box-shadow: 0px 0px 24px 11px #ffffff;
            border    : none;
            color     : #ffffff;
        }

        i {
            font-size: 50px;
        }

        h2 {
            font-family: $font_title;
            font-weight: bold;
            font-size  : 30px;
        }

        h3 {
            font-size: 20px;
        }

        button {
            margin-top : 20px;
            padding    : 20px;
            border     : 2px solid $color_text;
            font-family: $font_title;
            font-weight: bold;

            &:hover {
                color     : #ffffff;
                background: #008A7B;
                border    : 2px solid #ffffff;
            }

            &:active {
                color     : #ffffff;
                background: $color_text;
                border    : none;

            }
        }
    }
}

/* контейнер letest_works */
.letest_works {
    text-align: center;

    .letest_works_text {
        padding-top: 150px;

        h2 {
            font-family: $font_title;
            font-weight: bold;
            font-size  : 40px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .letest_works_popup_item {
        margin-top     : 50px;
        display        : flex;
        justify-content: center;

        a {
            box-shadow: 0px 0px 24px 11px $color_text;
            transition: 0.5s;

            &:hover {
                box-shadow: 0px 0px 24px 11px #008A7B;
            }

            &:hover h2 {
                opacity: 10;
                display: block;
            }

            &:hover img {
                opacity: .8;
                filter : blur(10px);
            }

            h2 {
                position   : absolute;
                top        : 50%;
                left       : 0;
                bottom     : 0;
                right      : 0;
                display    : none;
                color      : black;
                font-weight: bold;
                opacity    : 1;
            }

            img {}
        }

    }
}

/* контайнер pricing_plan */
.prising_plan {
    text-align: center;

    .prising_plan_content {
        padding-top: 200px;

        .prising_plan_text {
            h2 {
                font-family: $font_title;
                font-weight: bold;
                font-size  : 40px;
            }

            h3 {
                padding-top: 30px;
                font-size  : 20px;
            }
        }

    }

    .prising_plan_bloks {
        display        : flex;
        justify-content: center;


        .prising_plan_bloks_item {
            border       : 1px solid $color_text;
            border-radius: 5px;
            margin-top   : 50px;
            margin       : 30px;
            padding      : 0;

            &:hover {
                box-shadow: 0px 0px 24px 11px $color_text;
            }

            .prising_plan_bloks_item_name-price {

                background    : linear-gradient(10deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(45, 71, 175, 1) 0%, rgba(45, 71, 175, 1) 80%);
                padding-top   : 30px;
                padding-bottom: 100px;
                color         : #FFFFFF;

                h2 {
                    font-weight: bold;
                    font-family: $font_title;
                }

                .prising_plan_price {
                    display        : flex;
                    justify-content: center;
                    margin-top     : 20px;

                    h2 {
                        font-weight  : bold;
                        font-size    : 23px;
                        padding-right: 3px;
                    }

                    h3 {
                        font-weight  : bold;
                        font-size    : 40px;
                        padding-right: 3px;
                    }

                    h4 {
                        font-size  : 18px;
                        padding-top: 25px;
                    }
                }
            }

            .prising_plan_text {
                padding-top: 10px;

                h3 {
                    font-size  : 15px;
                    padding-top: 20px;
                }

            }

            button {
                margin-top    : 50px;
                margin-bottom : 50px;
                text-transform: uppercase;
                font-weight   : bold;
                font-family   : $font_title;
                font-size     : 20px;
                padding       : 15px;
                color         : $color_text;
                border        : 2px solid $color_text;
                border-radius : 5px;

                &:hover {
                    box-shadow: 0px 0px 24px 11px #008A7B;

                }

                &:active {
                    background: $color_text;
                    color     : #ffffff;
                }
            }

        }
    }

}

/* контейнер our_team_member */
.our_team_member {
    text-align : center;
    padding-top: 200px;

    h2 {
        font-family: $font_title;
        font-weight: bold;
        font-size  : 40px;
    }

    h3 {
        padding-top: 10px;
        font-size  : 20px;
    }
}

.carousel-inner {

    .carousel-item {
        .slide {
            display: flex;
            justify-content: space-between;
            margin: 30px;
            img {

                width : 100px;
                height: 300px;
            }
        }

    }
}



/* контейнер Blog */
/* контейнер contact_us */
/* футер */